@import './utilities.css';
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=delete"); */
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=keep"); */
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=archive"); */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=archive,delete,description,keep&display=block');

nav li ul:nth-of-type(1){
    padding-left: 55em;
}
nav h2{
    padding-left: 50px;
    
}
.notes-container{
    display: flex;
    flex-wrap: wrap;
}
.pad-btn{
    padding-top: 0.4em;
    padding-left: 0.1em;
}
.material-symbols-outlined{
    font-size: 35px;
}